@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #DFDFDF;
    color: #242424;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.6s;
    background-color: #222222;
    padding: 20px 100px;
}
header .logo{
    position: relative;
    content: url(../icons/PNG/deviseLogo.png);
    width: 40px;
    padding: 0;
    transition: 0.6s;
}
header.sticky{
    padding: 10px 100px;

}
a{
    text-decoration: none;
    color: #E6CC45;
}
a:hover{
  color: #222222;
  transition: 0.3s;
}
.text-grid{
    margin-top: 150px;
    text-align: justify;
    padding: 50px;
}
.content {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
  }
  .privacy{
    align-content: justify;
    font-size: 1em;
    line-height: 1.7em;
    font-weight: normal;
    padding: 3.5em 25em;
  }

footer{
	background-color: #222222;
	height: 100%;
	color: #DFDFDF;
	text-align: center;
  height: 100%;
}
footer h3{
	font-size: 30px;
	margin-left: 20px;
	margin-bottom: 10px;
}
footer a{
  margin-bottom: 200px;
	text-decoration: none;
	color: #DFDFDF;
	
}
footer a:hover{
	color: #E6CC45;
}
.wrap{
  padding-bottom: 20px;
}


.cookies-table {
    width: 100%; 
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .cookies-table td {
    padding: 15px 20px;
    text-align: left;
   }
   .cookies-table th {
    padding: 15px 20px;
    text-align: center;
    background-color: #242424;
    color: #DFDFDF;
    font-weight: 200;
    text-transform: uppercase;
   }
   .cookies-table tr {
    width: 100%;
   background-color: #fafafa;
   }
   
   .cookies-table tr:nth-child(even){
    background-color: #eeeeee;
   }
   .table-cookies {
    display: none;
  }

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
	 header{
    padding: 6px 0px;
   }
   [class*="privacy"] {
    width: 100%;
    overflow-wrap: break-word;
    padding: 0;
    }
    [class*="content"] {
      width: 100%;
      font-size: 1.5em;
      overflow-wrap: break-word;
      padding: 0;
      margin-bottom: 50px;
    }
    [class*="text-grid"] {
      margin-top: 100px;
      padding: 40px;
    }
    .table-cookies {
      display: contents;
    }
    .cookies-table{
      width: 100%; 
      border-collapse: collapse;
      border-spacing: 0;
      border-radius: 12px ;
      overflow: hidden;
      display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header{
    padding: 6px 0px;
   }
   [class*="privacy"] {
    width: 100%;
    overflow-wrap: break-word;
    padding: 0;
    }
    [class*="content"] {
      width: 100%;
      font-size: 1.5em;
      overflow-wrap: break-word;
      padding: 0;
      margin-bottom: 50px;
    }
    [class*="text-grid"] {
      margin-top: 100px;
      padding: 40px;
    }
    .table-cookies {
      display: contents;
    }
    .cookies-table{
      width: 100%; 
      border-collapse: collapse;
      border-spacing: 0;
      border-radius: 12px ;
      overflow: hidden;
      display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header{
    padding: 6px 0px;
   }
   [class*="privacy"] {
    width: 100%;
    overflow-wrap: break-word;
    padding: 0;
    }
    [class*="content"] {
      width: 100%;
      font-size: 1.5em;
      overflow-wrap: break-word;
      padding: 0;
      margin-bottom: 50px;
    }
    [class*="text-grid"] {
      margin-top: 100px;
      padding: 40px;
    }
    .table-cookies {
      display: contents;
    }
    .cookies-table{
      width: 100%; 
      border-collapse: collapse;
      border-spacing: 0;
      border-radius: 12px ;
      overflow: hidden;
      display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 0.6s;
    background-color: #222222;
    padding: 20px 100px;
  }
  [class*="privacy"] {
    width: 100%;
    overflow-wrap: break-word;
    font-size: 1em;
    line-height: 1.7em;
    font-weight: normal;
    padding: 3.5em 25em;
  }
  [class*="content"] {
    margin: 0 auto;
    text-align: center;
    font-size: 2em;
    overflow-wrap: break-word;
  }
  [class*="text-grid"] {
    margin-top: 100px;
    padding: 40px;
  }
  .table-cookies {
    display: none;
  }
  .cookies-table{
    width: 100%; 
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    display: block;
  }
}